<% include elements/header %>
<!-- Slider -->
<section>
        <div class="xv-slider-wrap text-white" style="background-image:url('/static/img/dummy/b1.jpg');">
            <div class="lightSlider" data-item="1" data-pager="false" data-slide-margin="0" data-gallery="false" data-pause="8000" data-pauseonhover="true" data-auto="true" data-loop="true">
                <div class="xv-slide">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-lg-6 fadeInRight animated">
                                <div class="xv-slider-content clearfix color-white ">
                                    <h1>Paper Social App</h1>
                                    <p>Sed eget orci eleifend enim mattis suscipit. Suspendisse potenti non ipsum.</p>
                                    <div
                                            class="p-t-40"><a href="#" class="btn btn-img">
                                        <img src="/static/img/basic/btn-appstore.png" alt=""> </a>
                                        <a
                                                href="#" class="btn btn-img">
                                            <img src="/static/img/basic/btn-googleplay.png" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="hidden-sm-down col-lg-6 fadeInLeft animated">
                                <img src="/static/img/demo/slider/iphone.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="xv-slide">
                    <div class="container">
                        <div class="row">
                            <div class="hidden-sm-down col-lg-6 fadeInLeft animated">
                                <img src="/static/img/demo/slider/rocket.png" alt="">
                            </div>
                            <div class="col-12 col-lg-6 fadeInRight animated">
                                <div class="xv-slider-content clearfix color-white">
                                    <h1>Paper Booster</h1>
                                    <p>When we designed MacBook Pro with Retina display, we started with a blank
                                        slate. That gave us the freedom to imagine something radical, something
                                        entirely different.</p>
                                    <div class="p-t-40"><a href="#" class="btn btn-primary btn-lg">Buy Now 19$</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="xv-slide">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-lg-6 fadeInRight animated">
                                <div class="xv-slider-content clearfix color-white">
                                    <h1>Paper Pages</h1>
                                    <p>When we designed MacBook Pro with Retina display, we started with a blank
                                        slate. That gave us the freedom</p>
                                    <div class="p-t-40"><a href="#" class="btn btn-primary btn-lg">Buy Now 19$</a>
                                        <a href="#"
                                           class="btn btn-success btn-lg">View All Demos</a>
                                    </div>
                                </div>
                            </div>
                            <div class="hidden-sm-down col-lg-6 fadeInLeft animated">
                                <img src="/static/img/demo/slider/desktop.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--slider Wrap-->
    </section>
<!-- Features -->
    <section class="animatedParent animateOnce p-t-100">
        <div class="container">
            <header class="section-heading">
                <h2>Services We Provide to Clients</h2>
                <p>Our Clients love our application here are some clients</p>
            </header>
            <div class="service-blocks p-t-b-50 fadeInUpShort animated ">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="service-block center">
                            <div class="service-icon">
                                <i class="icon icon-coding" aria-hidden="true"></i>
                            </div>
                            <div class="service-content">
                                <h3><a href="#">Paper Service Heading</a></h3>
                                <p>Dynamically leverage existing synergistic systems whereas future-proof sources
                                    Synergistically formulate</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="service-block center">
                            <div class="service-icon">
                                <i class="icon icon-creativity" aria-hidden="true"></i>
                            </div>
                            <div class="service-content">
                                <h3><a href="#">Paper Service Heading</a></h3>
                                <p>Dynamically leverage existing synergistic systems whereas future-proof sources
                                    Synergistically formulate</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="service-block center">
                            <div class="service-icon">
                                <i class="icon icon-smartphone" aria-hidden="true"></i>
                            </div>
                            <div class="service-content">
                                <h3><a href="#">Paper Service Heading</a></h3>
                                <p>Dynamically leverage existing synergistic systems whereas future-proof sources
                                    Synergistically formulate</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="service-block center">
                            <div class="service-icon">
                                <i class="icon icon-path" aria-hidden="true"></i>
                            </div>
                            <div class="service-content">
                                <h3><a href="#">Paper Service Heading</a></h3>
                                <p>Dynamically leverage existing synergistic systems whereas future-proof sources
                                    Synergistically formulate</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="service-block center">
                            <div class="service-icon">
                                <i class="icon icon-avatar" aria-hidden="true"></i>
                            </div>
                            <div class="service-content">
                                <h3><a href="#">Paper Service Heading</a></h3>
                                <p>Dynamically leverage existing synergistic systems whereas future-proof sources
                                    Synergistically formulate</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="service-block center">
                            <div class="service-icon text-white">
                                <i class="icon icon-time-is-money-1 sunfollower" aria-hidden="true"></i>
                            </div>
                            <div class="service-content">
                                <h3><a href="#">Paper Service Heading</a></h3>
                                <p>Dynamically leverage existing synergistic systems whereas future-proof sources
                                    Synergistically formulate</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
     <!-- Content block -->
    <section class="">
        <div class="relative">
            <div class="cut cut-bottom"></div>
        </div>
        <div class="service-blocks animatedParent fadeInUpShort animated gradient text-white p-t-b-100 go">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 p-t-50 go">
                    <div class="service-block">
                        <div class="service-icon">
                            <i class="icon icon-newspaper-o" aria-hidden="true"></i>
                        </div>
                        <div class="service-content">
                            <h3><a href="#">Paper Service Heading</a></h3>
                            <p>Dynamically leverage existing synergistic systems whereas future-proof sources
                                Synergistically formulate</p>
                        </div>
                    </div>
                    <div class="service-block">
                        <div class="service-icon">
                            <i class="icon icon-tint" aria-hidden="true"></i>
                        </div>
                        <div class="service-content">
                            <h3><a href="#">Paper Service Heading</a></h3>
                            <p>Dynamically leverage existing synergistic systems whereas future-proof sources
                                Synergistically formulate</p>
                        </div>
                    </div>
                    <div class="service-block">
                        <div class="service-icon">
                            <i class="icon icon-connectdevelop" aria-hidden="true"></i>
                        </div>
                        <div class="service-content">
                            <h3><a href="#">Paper Service Heading</a></h3>
                            <p>Dynamically leverage existing synergistic systems whereas future-proof sources
                                Synergistically formulate</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 text-center">
                    <img src="/static/img/demo/slider/desktop.png" alt="">
                </div>
            </div>
        </div>
        </div>
        <div class="relative">
            <div class="cut cut-top"></div>
        </div>
    </section>
    <!-- service block -->
    <section class="p-t-40 p-b-80 animatedParent animateOnce responsive">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="service-featured-thumbs">
                        <div class="service-thumb animated fadeInUpShort"><a href="#" class="img-link">
                            <img src="/static/img/basic/mokup-ipad-iphone.png" alt="">
                        </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="service-featured-content p-40">
                        <h2 class="fadeInUpShort animated">Uniquaely productivate plug imperatives.</h2>
                        <br>
                        <p class="fadeInUpShort animated">Appropriately integrate proactive content before effective
                            models. Quickly
                            enable just in time scenarios after turnkey mindshare. Proactively pursue
                            best-of-breed e-markets and stand-alone markets. Globally harness resource
                            maximizing sources without backend communities.</p>
                        <br> <a href="/services" class="btn btn-primary btn-lg fadeInUpShort animated">View More information</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Open Projects -->
    <section class="portfolio p-t-b-100">
        <div class="container">
            <header class="section-heading">
                <h2>Open Projects</h2>
                <p>Our Clients love our work here are some samples</p>
            </header>
            <ul class="project-filter text-center p-b-40">
                <li class="filter active" data-filter="*">All</li>
                <% for (let i = 0; i < categories.length; i++) { %>
                    <li class="filter" data-filter=".<%= categories[i]['category_slug'] %>">
                        <%= categories[i]['category_name'] %>
                    </li>
                <% } %>
            </ul>
            <div class="row masonry-container">
                <% for (let i = 0; i < projects.length; i++) { %>
                    <div class="col-md-4 masonry-post <%= projects[i]['project_category_slug'] %>">
                        <figure>
                            <div class="img-wrapper">
                                <img src="<%= projects[i]['project_feature_image'] %>" alt="<%= projects[i]['project_title'] %>">
                                <div class="img-overlay">
                                    <div class="figcaption">
                                        <h4><%= projects[i]['project_title'] %></h4>
                                        <p><%= projects[i]['project_category_name'] %></p>
                                        <a class="btn btn-primary" href="<%= '/project/'+projects[i]['project_slug'] %>"><i class="icon icon-external-link-square"></i> View Project</a>
                                    </div>
                                </div>
                            </div>
                        </figure>
                    </div>
                <% } %>
            </div>
            <div class="clearfix"></div>
            <div class="text-center p-t-b-40">
                <a href="/open-projects" class="btn btn-primary btn-lg">Explore All</a>
            </div>
        </div>
    </section>
    <!-- News Letter -->
    <section class="newsletter p-t-b-50 animatedParent animateOnce">
        <div class="text-center animated fadeInUpShort">
            <div class="container">
                <header>
                    <h2>Subscribe Now</h2>
                    <p>Don&#x2019;t ever miss latest new and updates we don&#x2019;t spam.</p>
                </header>
                <div class="row">
                    <div class="col-lg-6 mx-md-auto">
                        <form id="subscription" >
                            <input class="form-control form-control-lg" name="subscription-email" placeholder="You Email Address" type="email">
                            <button class="icon-btn subscribe-btn" style="margin-top: -1px; font-size: x-large;" type="submit"><i class="icon icon-send-o"></i></button>
                            <button class="submit subscribe btn btn-primary btn-lg subscribe-btn" type="submit">Subscribe Now</button>
                        </form>
                        <div role="alert" class="alert alert-success" id="subsOk" style="font-weight:800;position: absolute;width: 94%;top: -1em;padding: 0.35rem 0.25rem;display: none;"></div>
                        <div role="alert" class="alert alert-danger" id="subsErr" style="font-weight:800;position: absolute;width: 94%;top: -1em;padding: 0.35rem 0.25rem;display: none;"></div>
                    </div>
                    <script type="text/javascript">
                      $('input[name="subscription-email"]').on('propertychange input', ()=>{
                        if($('input[name="subscription-email"]').val() !== '') {
                          if(/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/.test($('input[name="subscription-email"]').val())) {
                            $('input[name="subscription-email"]').removeClass('is-invalid');
                          }else {
                            $('input[name="subscription-email"]').addClass('is-invalid');
                          }
                        }else {
                          $('input[name="subscription-email"]').addClass('is-invalid');
                        }
                      });
                      $('#subscription').on('submit', (e)=>{
                        e.preventDefault(); e.stopPropagation();
                        if($('input[name="subscription-email"]').val() !== '') {
                          if(/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/.test($('input[name="subscription-email"]').val())) {
                            $('input[name="subscription-email"]').attr('disabled','');
                            $.post(
                              '/api/push/subscription', 
                              {email: rsa.encrypt($('input[name="subscription-email"]').val())},
                              (resp)=>{
                                if(resp.status === 'success'){
                                  $('input[name="subscription-email"]').removeAttr('disabled');
                                  $('#subsOk').html(resp.message).fadeIn().delay(1200).fadeOut();
                                }else {
                                  $('input[name="subscription-email"]').removeAttr('disabled');
                                  $('#subsErr').html(resp.message).fadeIn().delay(1200).fadeOut();
                                }
                            });
                          }
                        }else {
                            $('input[name="subscription-email"]').addClass('is-invalid');
                          }
                      });
                    </script>
                </div>
            </div>
        </div>
    </section>
<% include elements/footer %>