<% include elements/header %>
    <style>
    .copy-code{position: initial;color:transparent;margin-bottom: -0.985em;background-color:transparent;}status.in-stock { color : #7dc855 !important; } status.out-of-stock { color : #ED5564 !important; }
    .product-code{
        transition: color ease-in-out 0.3s;
    }
    .product-code:hover {
        color: #ffffff14 !important;
        transition: color ease-in-out 0.3s;
    }
    .copy-code {
        transition: color ease-in-out 0.3s;
    }
    .product-code:hover > .copy-code {
        color: #fff;
        transition: color ease-in-out 0.3s;
    }
    </style>
    <div class="content-wrapper">
        <div class="container">
            <div class="single-product-detail">
                <div class="row">
                    <div class="col-12 col-lg-5">
                        <div class="demo">
                            <ul id="lightSliderGallery" class="lightSlider" data-gallery="true" data-item="1"
                                data-loop="true" data-auto="true" data-thumbs="4" data-controls="false"
                                data-position="middle">
                                <% for (let i = 1; i < 11; i++) { 
                                    if ( product['product_image_'+i] !== '' ) {
                                            %>
                                    <li data-thumb="<%= product['product_image_'+i] %>">
                                        <img src="<%= product['product_image_'+i] %>">
                                    </li>
                            <%      }
                                 }      %>
                            </ul>
                        </div>
                    </div>
                    <!--column-6-->
                    <div class="col-12 col-lg-6 mx-md-auto">
                        <div class="single-product-overview p-t-b-40">
                            <h2><%= product['product_name'] %></h2>
                            <ul class="review p-t-b-20">
                                <li class="ratings-stars"><i class="icon icon-star text-light-blue"></i>
                                    <% for (let j = 0; j < 5; j++) { 
                                        if ( j < product['product_rating'] ) {
                                        %><i class="icon icon-star text-light-blue"></i>
                                    <% } else { %>
                                        <i class="icon icon-star"></i>
                                    <% }
                                    } %>
                                    <span>  <%= product['product_comment_count'] %> Review(s)  |  <a href="#">Write a Review</a></span>&#x2003;
                                </li>
                            </ul>
                            <p class="no-mar"><%= product['product_highlight'] %></p>
                            <ul class="product-description mt-35 mb-35 iconList">
                                <% if ( product['product_availability'] === 'available' ) { %>
                                <li><span>Availability</span><status class="in-stock">: Available in Stock</status></li>
                                <% } else { %>
                                <li><span>Availability</span><status class="out-of-stock">: Out of Stock</status></li>
                                <% } %>
                                <li><span>Product Code: </span>
                                <span class="badge badge-dark product-code" style="cursor:pointer;font-size:inherit;"><div class="copy-code">Copy Code</div><%= product['product_code'] %></span></li>
                            </ul>
                            <div class="cart-options"> <span href="#" class="price"><h4>₹ <%= product['product_price'] %></h4>  <!--<del>$7000</del>-->
                                    </span>
                                <div class="cart-buttons">
                                    <div class="quantity"><span class="xv-qyt xv-qup" data-value="1">+</span>
                                        <span class="xv-qyt xv-down" data-value="-1">-</span>
                                        <input step="1" min="1" max="" id="productQty" value="1" title="Qty" class="input-text qty text" size="4" type="number">
                                    </div>
                                    <span><a class="btn btn-lg btn-primary" id="add-to-cart" onclick='CART.add("<%= product.product_code %>", document.getElementById("productQty").value)'>ADD TO CART</a></span>
                                </div>
                                <!--cart-buttons-->
                            </div>
                            <!--cart-options-->
                        </div>
                        <!--single-product-overview-->
                    </div>
                    <!--column-6-->
                </div>
                <!--single-product-detail-->
                <div class="row p-t-b-80">
                    <div class="col-12 col-lg-12 ">
                        <div class="product-tabs">
                            <ul class="nav nav-tabs">
                                <li class="active nav-item">
                                    <a href="#description" data-toggle="tab" class="nav-link">Description</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#specification" data-toggle="tab" class="nav-link">Specification</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#features" data-toggle="tab" class="nav-link">Features</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#details" data-toggle="tab" class="nav-link">Product Details</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#faq" data-toggle="tab" class="nav-link">Product FAQ</a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="description">
                                    <%- product['product_description'] %>
                                </div>
                                <div class="tab-pane fade" id="specification">
                                    <%- product['product_specifications'] %>
                                </div>
                                <div class="tab-pane fade" id="features">
                                    <%- product['product_features'] %>
                                </div>
                                <div class="tab-pane fade" id="details">
                                    <%- product['product_details'] %>
                                </div>
                                <div class="tab-pane fade" id="faq">
                                    <%- product['product_faq'] %>
                                </div>
                            </div>
                            <!--tab-pane-->
                        </div>
                    </div>
                    <!--column-->
                </div>
                <div class="row clearfix">
                    <div class="lightSlider grid-view xv-product-slides" data-item="4" data-item-md="2" data-item-sm="1">
                        <% for (let k = 0; k < similar.length; k++) { %>
                            <div class="xv-product-unit col-3 lslide active" style="width: 175.5px; margin-right: 6px;">
                                <div class="xv-product paper-block">
                                    <figure>
                                        <a href="/product/<%= similar[k]['product_slug'] %>">
                                            <img class="xv-superimage" src="<%= similar[k]['product_featured_image'] %>">
                                        </a>
                                        <figcaption>
                                            <ul class="style1">
                                                <li><a data-qv-tab="#qvt-wishlist" class=" btn-square btn-blue" href="#"><i class="icon icon-heart"></i></a>
                                                </li>
                                                <li><a data-qv-tab="#qvt-compare" class=" btn-square btn-blue" href="#"><i class="icon icon-exchange"></i></a>
                                                </li>
                                                <li><a class="btn-cart btn-square btn-blue" href="#"><i class="icon icon-expand"></i></a>
                                                </li>
                                            </ul>
                                        </figcaption>
                                    </figure>
                                    <div class="xv-product-content">
                                        <h3><a href="/product/<%= similar[k]['product_slug'] %>"><%= similar[k]['product_name'] %></a></h3>
                                        <p><%= similar[k]['product_highlight'] %></p>
                                        <ul class="extra-links">
                                            <li><a href="#"><i class="icon icon-heart"></i>Wishlist</a>
                                            </li>
                                            <li><a href="#"><i class="icon icon-exchange"></i>Compare</a>
                                            </li>
                                            <li><a href="#"><i class="icon icon-expand"></i>Expand</a>
                                            </li>
                                        </ul>
                                        <!--ul--><span class="xv-price">₹ <%= similar[k]['product_price'] %></span>
                                        <a data-qv-tab="#qvt-cart" href="/product/<%= similar[k]['product_slug'] %>" class="product-buy flytoQuickView"><i class="icon icon-shopping-basket" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $()
    </script>
<% include elements/footer %>