<% include elements/header %>
<main class="single">
    <!-- Header -->
    <section class="text-white has-overlay" data-bg-possition="center"
             style="background: url(&apos;<%= project['project_feature_image'] %>&apos;)">
        <div class="container">
            <div class="p-t-b-80  text-center">
                <p class="subtitle"><span class="badge badge-success"><%= project['project_category_name'] %></span></p>
                <h1 class="s-48" style="font-weight: bold;"><%= project['project_title'] %></h1>
                <div class="p-t-b-40">
                    <img src="<%= project['project_author_profile_image'] %>" alt="<%= project['project_author_name'] %>">
                    <h6 class="text-center reoft-blog-author-name mt-2"><%= project['project_author_name'] %></h6>
                    <small><a href="<%= project['project_author_profile_slug'] %>"><span class="badge badge-danger" style="font-weight: 800;    border-radius: 1.5em;"><%= project['project_author_username'] %></span></a></small>
                </div>
            </div>
        </div>
        <div class="overlay" data-start="#333A43" data-opacity=".8"></div>
    </section>
    <div class="content-wrapper">
        <div class="container">
            <!-- <div class="col-xl-8 mx-md-auto "> -->
                <article class="post">
                    <%- project['project_content'] %>
                </article>
            <!-- </div> -->
        </div>
        <div class="feedback" style="background-color: #082c46;">
            <div class="container">
                <!-- <div class="col-xl-8 mx-md-auto"> -->
                    <div class="row pt-2">
                        <div class="col-md-6">
                            <h6 class="text-center text-white my-2">We would love your feedback on this article</h6>
                        </div>
                        <div class="col-md-3">
                            <button id="likeFeedBack" class="btn btn-block btn-success mb-2">Like this post</button>
                        </div>
                        <div class="col-md-3">
                            <button id="dislikeFeedBack" class="btn btn-block btn-danger mb-2">Dislike this post</button>
                        </div>
                    </div>
                <!-- </div> -->
            </div>
        </div>
        <div class="post-comments">
            <div class="container">
                <div class="col-xl-8 mx-lg-auto">
                    <form id="postNewComment">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-lg" name="firstname" placeholder="First Name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-lg" name="lastname" placeholder="Last Name">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-lg" name="email" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-lg" name="website" placeholder="Website">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea class="form-control-lg" name="message" placeholder="Message"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary btn-lg">Post Comment</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-xl-8 mx-lg-auto">
                <div class="comments">
                    <ol class="comment-list">
                        <!--<?= getProjectData( 'project_comments', $projectSlug ); ?>-->
                    </ol>
                    <!-- .comment-list -->
                </div>
            </div>
        </div>
    </div>
</main>
<% include elements/footer %>